.registration-component {
  margin-top: 15px;
  margin-bottom: 30px;
}

.registration-component form {
  display: block;
}

.registration-component h4 {
  text-align: center;
}

.registration-inputs {
  width: 450px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;
}

.registration-inputs li {
  list-style-type: none;
  width: 218px;
  margin-bottom: 15px;
  height: 70px;
}

.registration-error {
  height: 10px;
  color: #da1414;
  font-size: 14px;
}

.registration-inputs p {
  margin-bottom: 2px;
}

.submit-registration {
  margin: 0 auto;
  display: block;
  letter-spacing: .8px;
  background-color: #1db51a;
  color: #f3f3f3;
  padding: 10px 30px;
  font-size: 20px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .registration-inputs {
    width: 100%;
  }

  .registration-inputs li {
    margin: 5px 15px;
    width: 100%;
  }

  .registration-inputs input {
    width: 100%;
  }
}
.tags button{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
.tags button:hover{border-color:#08C;}
.tags button.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
.tags button.success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C}
.tags button.info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA}
.tags button.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
.tags button.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}
