<div class="registration-component">
  <h4>Registration</h4>
  <form class="form-inline">
    <ul class="registration-inputs">
      <li>
        <p>First name</p>
        <input class="form-control" type="text" placeholder="First Name"></li>
      <li>
        <p>Last Name</p>
        <input class="form-control" type="text" placeholder="Last Name"></li>
      <li>
        <p>Email</p>
        <input class="form-control" type="text" placeholder="Email"></li>
      <li>
        <p>Password</p>
        <input class="form-control" type="password" placeholder="Password"></li>
      <li>
        <p>Country</p>
        <input class="form-control" type="text" placeholder="Country"></li>
      <li>
        <p>Province</p>
        <input class="form-control" type="text" placeholder="Province"></li>
      <li>
        <p>City</p>
        <input class="form-control" type="text" placeholder="City"></li>
      <li>
        <p>Street</p>
        <input class="form-control" type="text" placeholder="Street"></li>
      <li>
        <p>Postal Code</p>
        <input class="form-control" type="text" placeholder="Postal Code"></li>
    </ul>
    <button class="btn btn-outline-success submit-registration" type="submit">Submit</button>










  </form>
</div>
