<div class="home-page">
  <div class="home-page-container">
    <div class="search-container">
      <h4>Find Home Buyers Looking in Your Zip Code</h4>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Input Zip Code" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="search-result-container">
      <h5>Search Result at Zip Code: <span>"zip code"</span></h5>
      <div class="search-result">
        <ul>
          <li>
              <h5 class="looking-for">I'm looking for...</h5>
              <p class="search-result-text">some text here</p>
              <a class="message-button" href="#">Message</a>
          </li>
          <li>
              <h5 class="looking-for">I'm looking for...</h5>
              <p class="search-result-text">some text here</p>
              <a class="message-button" href="#">Message</a>
          </li>
          <li>
              <h5 class="looking-for">I'm looking for...</h5>
              <p class="search-result-text">some text here</p>
              <a class="message-button" href="#">Message</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
