<div class="home-page">
  <div class="home-page-container">
    <div class="search-container">
      <h4>Find Home Buyers Looking in Your Zip Code</h4>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Input Zip Code (0160 ex)" name="zip" [(ngModel)]="searchOptions['zip']" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
      </form>
    </div>
    <div class="search-result-container">
      <h5>Search Result at Zip Code: <span>{{searchOptions['zip']}}</span></h5>
      <div class="search-result">
        <ng-container *ngIf="searchOptions['zip'] && searchResult || (searchResult && searchResult.length)">
            <ul>
                <li *ngFor="let user of searchResult">
                    <h5 class="looking-for">{{user['firstName'] + ' ' + user['lastName']}}</h5>
                    <p class="search-result-text">some text here</p>
                    <a class="message-button" (click)="openNewMessageModal(messageWindow, user)">Message</a>
                </li>
            </ul>
        </ng-container>

          <ng-container *ngIf="searchOptions['zip'] && searchResult && !searchResult.length ">
              Buyers for this zip code were not found
          </ng-container>
      </div>
    </div>
  </div>
</div>



<ng-template #messageWindow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Send Message to {{activeUser['firstName'] + ' ' + activeUser['lastName']}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--ეს კლასი არ შეცვალო!!!-->
    <div class="modal-body">
        <form>
          <div class="message-text popup-inputs">
            <p>Message</p>
            <textarea type="text" name="text" [(ngModel)]="messageText"> </textarea>
          </div>
          <div class="sender-name popup-inputs">
            <p>Name</p>
            <input type="text" name="name" [(ngModel)]="sender['name']">
          </div>
          <div class="sender-mobile popup-inputs">
            <p>Phone</p>
            <input type="text" name="phone" [(ngModel)]="sender['phone']">
          </div>
          <button class="popup-message-button" type="button" (click)="sendMessage()">Send</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark popup-close-button" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
