<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container navbar-container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">Logo</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chat']">Messenger <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Log In <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
        </li>

      </ul>



      <div class="logged-as form-inline my-2 my-lg-0" *ngIf="sessionUser">
        <h6>You are logged as {{sessionUser.name }}({{sessionUser['phone']}})</h6>
        <button class="btn my-2 my-sm-0" type="submit" (click)="destroySession()">Destroy Current Session</button>
      </div>



    </div>
  </div>
</nav>
