@media screen and (max-width: 992px) {
  .navbar-toggler {
      display: none!important;
  }

  .navbar-collapse.collapse {
      display: inline-block!important;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}


@media screen and (max-width: 575px) {
  .navbar-container {
    width: 100%;
  }
  .navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggler {
    display: block!important;
    right: 5px;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}
}
