<!--<div class="main_section">-->
  <!--<div class="container">-->
    <!--<div class="chat_container">-->
      <!--<div class="col-sm-3 chat_sidebar">-->
        <!--<div class="row">-->
          <!--<div id="custom-search-input">-->
            <!--<div class="input-group col-md-12">-->
              <!--<input type="text" class="  search-query form-control" placeholder="Conversation" />-->
              <!--<button class="btn btn-danger" type="button">-->
                <!--<span class=" glyphicon glyphicon-search"></span>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="dropdown all_conversation">-->
            <!--<button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--<i class="fa fa-weixin" aria-hidden="true"></i>-->
              <!--All Conversations-->
              <!--<span class="caret pull-right"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
              <!--<li><a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">-->
                <!--<li><a href="#"> All Conversation </a> </li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
              <!--</ul>-->
              <!--</li>-->
              <!--<li><a href="#">Another action</a></li>-->
              <!--<li><a href="#">Something else here</a></li>-->
              <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="member_list">-->
            <!--<ul class="list-unstyled">-->


              <!--<li class="left clearfix" *ngFor="let chat of chats">-->
                     <!--<span class="chat-img pull-left">-->
                     <!--<img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" alt="User Avatar" class="img-circle">-->
                     <!--</span>-->
                <!--<div class="chat-body clearfix">-->
                  <!--<div class="header_sec">-->
                    <!--<strong class="primary-font">{{getChatTitle(chat)}}</strong> <strong class="pull-right">-->
                    <!--09:45AM</strong>-->
                  <!--</div>-->
                  <!--<div class="contact_sec">-->
                    <!--<strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">{{(chat && chat.messages) ? chat.messages.length : 0 }}</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->


            <!--</ul>-->
          <!--</div></div>-->
      <!--</div>-->
      <!--&lt;!&ndash;chat_sidebar&ndash;&gt;-->


      <!--<div class="col-sm-9 message_section" *ngIf="activeChat">-->
        <!--<div class="row">-->
          <!--<div class="new_message_head">-->
            <!--<div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div><div class="pull-right"><div class="dropdown">-->
            <!--<button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--<i class="fa fa-cogs" aria-hidden="true"></i>  Setting-->
              <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">-->
              <!--<li><a href="#">Action</a></li>-->
              <!--<li><a href="#">Profile</a></li>-->
              <!--<li><a href="#">Logout</a></li>-->
            <!--</ul>-->
          <!--</div></div>-->
          <!--</div>&lt;!&ndash;new_message_head&ndash;&gt;-->

          <!--<div class="chat_area overflow: scroll; height: xyz;" #scrollable>-->
            <!--<ul class="list-unstyled">-->

              <!--&lt;!&ndash;Other&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="left clearfix">&ndash;&gt;-->
                     <!--&lt;!&ndash;<span class="chat-img1 pull-left">&ndash;&gt;-->
                     <!--&lt;!&ndash;<img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">&ndash;&gt;-->
                     <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="chat-body1 clearfix">&ndash;&gt;-->
                  <!--&lt;!&ndash;<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="chat_time pull-right">09:40PM</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->

              <!--&lt;!&ndash;Me &ndash;&gt;-->
              <!--&lt;!&ndash;<li class="left clearfix admin_chat">&ndash;&gt;-->
                     <!--&lt;!&ndash;<span class="chat-img1 pull-right">&ndash;&gt;-->
                     <!--&lt;!&ndash;<img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">&ndash;&gt;-->
                     <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="chat-body1 clearfix">&ndash;&gt;-->
                  <!--&lt;!&ndash;<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="chat_time pull-left">09:40PM</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->

              <!--<ng-container *ngFor="let message of activeChat.messages">-->
                <!--<li class="left clearfix admin_chat" *ngIf="message.sender === user['_id']">-->
                     <!--<span class="chat-img1 pull-right">-->
                     <!--<img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" alt="User Avatar" class="img-circle">-->
                     <!--</span>-->
                  <!--<div class="chat-body1 clearfix ">-->
                    <!--<p>{{message.text}}</p>-->
                    <!--<div class="chat_time pull-right">{{message.createdAt | date: 'MMM d, y, h:mm:ss a'}}</div>-->
                  <!--</div>-->
                <!--</li>-->


                <!--<li class="left clearfix" *ngIf="message.sender !== user['_id']">-->
                     <!--<span class="chat-img1 pull-left">-->
                     <!--<img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" alt="User Avatar" class="img-circle">-->
                     <!--</span>-->
                  <!--<div class="chat-body1 clearfix">-->
                    <!--<p>{{message.text}}</p>-->
                    <!--<div class="chat_time pull-right">{{message.createdAt | date: 'MMM d, y, h:mm:ss a'}}</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ng-container>-->

            <!--</ul>-->
          <!--</div>&lt;!&ndash;chat_area&ndash;&gt;-->
          <!--<div class="message_write">-->
            <!--<textarea class="form-control" placeholder="type a message" [(ngModel)]="messageText" name="messageText"></textarea>-->
            <!--<div class="clearfix"></div>-->
            <!--<div class="chat_bottom"><a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>-->
              <!--Add Files</a>-->

                <!--<button class="pull-right btn btn-success" (click)="sendMessage()" [disabled]="!wsUserConnected">-->
                  <!--Send-->
                <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div> &lt;!&ndash;message_section&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->




<div class="container bootstrap snippet">
  <div class="row messenger-main-container">
    <div class="bg-white messenger-container " [ngStyle]="messengerContainerStyles">
      <!-- =============================================================== -->
      <!-- member list -->
      <div class="member-list col-md-4">
        <p class="members-header">Members</p>
        <ul class="friend-list">
          <li  class="active bounceInDown">
            <a class="clearfix" *ngFor="let chat of chats" (click)="setActiveChat(chat)">
              <div class="friend-name">
                <strong> {{getChatTitle(chat)}} </strong>
              </div>
            </a>
          </li>
        </ul>
      </div>


    <!--=========================================================-->
    <!-- selected chat -->
      <div class="chat-container col-md-8">
        <ng-container *ngIf="activeChat">
          <button class="back-to-members" type="button" name="button" (click)="backClick()"> Back</button>
          <p class="chat-person">{{getChatTitle(activeChat)}}</p>
          <div class="bg-white ">
            <div class="chat-message">
              <ul class="chat" style="overflow: scroll; height: xyz;" #scrollable>

                <ng-container *ngFor="let message of activeChat.messages">
                  <!--it's me-->
                  <ng-container *ngIf="message.sender !== user['_id']">
                    <li  class="left clearfix">
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">{{getSenderName(activeChat, message)}}</strong>
                          <!--<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>-->
                        </div>
                        <p>
                          {{message.text}}
                        </p>
                      </div>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="message.sender === user['_id']">
                    <li  class="right clearfix">
                      <div class="chat-body clearfix">
                        <div class="header">
                          <strong class="primary-font">{{getSenderName(activeChat, message)}}</strong>
                          <!--<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>-->
                        </div>
                        <p>
                          {{message.text}}
                        </p>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
            <div class="chatbox-container">
              <div class="container">
                <form  >
                  <div class="chat-box col-md-8 bg-white">
                    <div class="input-group">

                      <input class="form-control border no-shadow no-rounded" placeholder="Type your message here" name="textMessage" [(ngModel)]="messageText">
                      <span class="input-group-btn">
                        <input class="btn btn-success no-rounded" type="submit" (click)="sendMessage()" [disabled]="!wsUserConnected" value="send">
                      </span>
                    </div>
                    <!-- /input-group -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
