<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-4 bg-white ">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
                <p style="margin-left: 15px;">Members</p>
            </div>

            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">


                <li  class="active bounceInDown">
                    <a class="clearfix" *ngFor="let chat of chats" (click)="selectedChat=chat">
                        <div class="friend-name">
                            <strong> {{getDestinationUser(chat)}} </strong>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

        <!--=========================================================-->
        <!-- selected chat -->

        <ng-container *ngIf="selectedChat">
          <button class="back-to-members" type="button" name="button">back</button>
            <div class="col-md-8 bg-white ">
                <div class="chat-message">
                    <ul class="chat">

                        <li  class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ozbegi Kartvelishvili</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                </div>
                                <p>
                                    this is message text
                                </p>
                            </div>
                        </li>

                        <li  class="left clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">ozkart</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                </div>
                                <p>
                                    reply
                                </p>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="chatbox-container">
                  <div class="container">
                    <form  >
                      <div class="chat-box col-md-8 bg-white">
                        <div class="input-group">
                          <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                          <span class="input-group-btn">
                            <input class="btn btn-success no-rounded" type="submit" value="send">
                          </span>
                        </div>
                        <!-- /input-group -->
                      </div>
                    </form>
                  </div>
                </div>

            </div>
        </ng-container>

    </div>
</div>
